# vi:ft=gitconfig
[user]
	# default user
	name = nobe4
	email = nobe4@users.noreply.github.com
	signingKey = 8EB61429D6C54B9B1787EBA0911FE2A36C3403DD
[github]
	user = nobe4

[url "git@github.com:"]
	insteadOf = "https://github.com/"

[commit]
	gpgsign = true
	verbose = true
[gpg]
	program = gpg

[core]
	editor = nvim
	excludesFile = ~/.gitignore_global

[format]
	signOff = true

[alias]
	alias = !git-alias

	main = !git symbolic-ref refs/remotes/origin/HEAD | cut -d'/' -f4

	df = difftool
	last-tag = !git describe --abbrev=0 || git describe --tags

	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative

	amend=commit --amend
	oops = !git commit -a --fixup=HEAD && GIT_EDITOR=true git rebase -i --autosquash HEAD~2

	safe-pull = !git-safe-pull

	rebase-main = !"git fetch; git rebase origin/$(git main)"
	sweep = !git-sweep
	recent-branches = branch --sort=-committerdate --format="%(committerdate:relative)%09%(refname:short)"

	dft = difftool
	dlog = "-c diff.external=difft log -p --ext-diff"

[init]
	defaultBranch = main
[pull]
	default = current
	rebase = true
[push]
	default = current
	autoSetupRemote = true
	followTags = true
[fetch]
	prune = true
	pruneTags = true
	all = true
[submodule]
	recurse = true

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[diff]
	tool = difftastic
	algorithm = histogram
	colorMoved = plain
	renames = true
	mnemonicPrefix = true

[difftool]
	prompt = false

[difftool "difftastic"]
    cmd = difft --background=light "$LOCAL" "$REMOTE"

[pager]
	difftool = true

[pager]
	difftool = true

[column]
	ui = auto

[branch]
	sort = -committerdate

[tag]
	sort = version:refname

[rerere]
	enable = true
	autoUpdate = true

[include]
	# Add [maintenance] section there, so it's not tracked
	path = ~/dev/.gitconfig
	path = ~/dev/github/.gitconfig
