# Don't ignore .files by default, as we want to modify them.
!.*
.git

# Different machines might link to different places.
private

zsh_profile
.DS_Store
ngrok.bin
.link-list

nvim/lazy-lock.json

vendor/

# nixos-rebuild result
result

# Devenv
!devenv*
.devenv/
devenv.local.nix
devenv.local.yaml
