# Don't ignore .files by default, as we want to modify them.
!.*
.git

zsh_profile
.DS_Store
ngrok.bin
.telegram-creds
.link-list

Brewfile.lock.json
nvim/lazy-lock.json

vendor/

# nixos-rebuild result
result

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
