@define-color fg #ffffff;
@define-color bg #000000;
@define-color red #eb4d4b;
@define-color blue #0069d4;

* {
	/* `otf-font-awesome` is required to be installed for icons */
	font-family: CommitMonoV143, Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: 500;
	/* color: @fg; */
}

window#waybar {
	background-color: @bg;
}

button {
	/* Use box-shadow instead of border so the text isn't offset */
	/* box-shadow: inset 0 -3px transparent; */
	/* Avoid rounded borders under each button name */
	border: none;
	border-radius: 0;
}

button:hover {
	background-color: @blue;
	color: @bg;
}

#workspaces button {
	padding: 0 5px;
}

#workspaces button.active {
	background-color: @fg;
	color: @bg;
}

#workspaces button.urgent {
	background-color: @red;
	color: @bg;
}

#cpu,
#memory,
#network,
#pulseaudio,
#wireplumber,
#tray,
#mpd {
	padding: 0 10px 0 10px;
	border-right: 1px solid @fg;
}

#idle_inhibitor {
	padding: 0 10px 0 10px;
}
#idle_inhibitor.activated {
	background-color: @red;
}

#network.disconnected {
	background-color: @red;
}

#privacy-item.screenshare {
	background-color: #cf5700;
}

#privacy-item.audio-in {
	background-color: #1ca000;
}

#privacy-item.audio-out {
	background-color: @blue;
}
