/* c9 */
@define-color fg #878988;
/* c1 */
@define-color bg #1d1f21;
/* c2 */
@define-color red #cc342b;
/* c5 */
@define-color blue #3971ed;
/* c4 */
@define-color orange #fba922;
/* c3 */
@define-color green #14b363;

* {
	/* `otf-font-awesome` is required to be installed for icons */
	font-family: CommitMonoV143, Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: 500;
}

window#waybar {
	background-color: @bg;
}

button {
	/* Use box-shadow instead of border so the text isn't offset */
	/* box-shadow: inset 0 -3px transparent; */
	/* Avoid rounded borders under each button name */
	border: none;
	border-radius: 0;
}

button:hover {
	background-color: @blue;
	color: @bg;
}

#workspaces button {
	padding: 0 5px;
}

#workspaces button.active {
	background-color: @fg;
	color: @bg;
}

#workspaces button.urgent {
	background-color: @red;
	color: @bg;
}

#cpu,
#memory,
#network,
#pulseaudio,
#wireplumber,
#tray,
#mpd {
	padding: 0 10px 0 10px;
	border-right: 2px solid @fg;
}

#idle_inhibitor {
	padding: 0 10px 0 10px;
}

#idle_inhibitor.activated {
	background-color: @red;
}

#network.disconnected {
	background-color: @red;
}

#privacy-item {
	padding: 2px;
	border-radius: 100px;
	box-shadow: 0px -5px @bg inset, 0 5px @bg inset;
}

#privacy-item.screenshare {
	background-color: @orange;
}

#privacy-item.audio-in {
	background-color: @green;
}

#privacy-item.audio-out {
	background-color: @blue;
}

tooltip {
	background-color: @bg;
	color: @fg;
	border: solid 2px @fg;
	border-radius: 0;
	padding: 0px;
	margin: 0px;
}
